body{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-image: url('/asset/img/fondo.jpg');
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repite la imagen */

    .user-photo2{
        height: 120px;
        width: 100px;
    }

    .dashboard{
        display: flex;
        width: 100%;
        position: relative;
    }

    .sidebar{
        width: 250px;
        height: 100%;
        background-color:rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 80px;
        left: 0;
        height: calc(100%-80px);
        transition: transform 0.5s ease;
        transform: translateX(0);
        z-index: 999;
        border: none;
        box-shadow: none;
    }
    .sidebar.hidden{
        transform: translateX(-100%);
    }
    .sidebar-content{
        flex-direction: column;
        padding: 20px;
    }
    .sidebar-item{
        padding: 10px;
        cursor: pointer;
        color: rgb(238, 141, 241);
        transition: background-color 0.3s ease, border-radius 0.3s ease;
        position: relative;
    }
    .sidebar-item:hover{
        color: rgb(241, 180, 243);
        border-radius: 0 15px 15px 0;
    }
    .submenu{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        padding-left: 20px;
    }
    .sidebar-item.active .submenu{
        max-height: 200px;
    }
    .submenu-item{
        padding: 10px;
        cursor: pointer;
        color: #ffffff;
        transition: background-color 0.3s ease;
        border-radius: 4px;
    }
    .submenu-item:hover{
        background-color: #d0d0d0;
    }
    .submenu-item.active{
        background-color: #b0b0b0;
    }

    /* Estilo para la barra lateral */
.sidebar {
    
    width: 250px;
    height: 100%;
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80px;
    left: 0;
    height: calc(100%-80px);
    transition: transform 0.5s ease;
    transform: translateX(0);
    z-index: 999;
    border: none;
    box-shadow: none;
}

/* Estilo para la lista vertical */
.sidebar-list {
    list-style: none; /* Eliminar los puntos de lista */
    padding-left: 0;
    margin: 0;
}

/* Estilo para los elementos de la barra de navegación */
.sidebar-item {
    padding: 10px;
    cursor: pointer;
    color: rgb(238, 141, 241);
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    position: relative;
}

/* Estilo para los enlaces */
.sidebar-item a {
    color: #ecf0f1;
    text-decoration: none;
    display: block; /* Hace que el enlace ocupe todo el área del elemento */
    padding: 10px;
    border-radius: 5px;
}

/* Cambiar color de fondo cuando el enlace es hover */
.sidebar-item a:hover {
    background-color: #34495e;
}

/* Estilo para los submenús */
.submenu {
    list-style: none; /* Eliminar los puntos de lista en el submenú */
    padding-left: 20px; /* Añadir sangría para los elementos del submenú */
    display: none; /* Ocultar los submenús por defecto */
}

/* Mostrar submenú cuando el usuario pasa el ratón por encima */
.sidebar-item:hover .submenu {
    display: block; /* Mostrar el submenú */
}

/* Estilo para los enlaces del submenú */
.submenu li a {
    padding: 8px 10px;
    background-color: #7f8c8d;
    border-radius: 3px;
}

.submenu li a:hover {
    background-color: #95a5a6;
}


    .main-content{
        flex: 1;
        display: flex;
        flex-direction: column;
        transition: margin-left 0.3s ease;
        margin-left: 250px;
    }
    .main-content.shifted{
        margin-left: 0;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:rgb(238, 141, 241);
        padding: 10px;
        z-index: 1000;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        border: none;
        box-shadow: none;
    }
    .header-title{
        width: 120px; /* Ajusta el tamaño de las imágenes */
        font-size: 1.2em;
        flex: 1;
        margin-left: 10px;

    }
    
    .user-info{
        display: flex;
        align-items: center;
        position:sticky;
    }

    .user-photo{
        margin-left: 50px; /* Mueve la imagen 50px hacia la derecha */
        margin-top: 20px;  /* Mueve la imagen 20px hacia abajo */
        position: relative;
        background-position: center;
        width: 50px;
        height: 50px;
        border:#000000 3px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
        z-index: 1001;
    }

    .dropdown{
        position: absolute;
        right: 0;
        top: 100%;
        display: none;
    }

    .dropdown.show{
        font-family: 'Roboto Mono', monospace;
        display: block;
    }

    .dropdown-menu{
        
        background: #000000;
        color:rgb(255, 255, 255);
        width: 200px;
        border: 1px solid #918e8edd;
        border-radius: 4px;
        box-shadow: 0 2px 5px black;
        z-index: 1000;
    }

    .dropdown-item{
        padding: 10px;
        cursor: pointer;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
    }

    .dropdown-item:hover{
        background-color: #333232;
    }

    .menu-toggle{
        background-color: #000000;
        color: rgb(255, 255, 255);
        border: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1001;
        transition: background-color 0.3s ease;
    }
    .menu-toggle:hover{
        background-color: #444343;
    }

    .content{
        padding: 20px;
        flex: 1;
        margin: 20px;
        margin-top: 80px;
        background-image: url('/asset/img/fondo.jpg');
        background-size: cover; /* Hace que la imagen cubra todo el fondo */
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat; /* No repite la imagen */
        border: 1px solid #dddd;
        border-radius: 20px;
        box-shadow: 0 2px 5px rgba(243, 243, 243, 0.1);
        overflow-y: auto;
        max-height: calc(100vh - 160px);
        flex-direction: row;
    }


    .edit-btn, .delete-btn{
        padding: 8px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .edit-btn{
        background-color: #ffffff;
        color:rgb(0, 0, 0)
    }
    .edit-btn:hover{
        background-color: #625e64;
    }
    .delete-btn{
        background-color: rgb(238, 141, 241);
        color: white;
    }
    .delete-btn:hover{
        background-color:  rgb(227, 117, 231);
    }

    .modal-create{
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0,);
        justify-content: center;
        align-items: center;

        .modal-content{
            display: flex;
            flex-direction: column;
            background-color: #000;
            padding: 20px;
            border-radius: 8px;
            width: 400px;
            height: auto;
            box-shadow: 0 2px 20px rgba(255,255,255, 0.5);
        }
        .close-btn{
            float: right;
            font-size: 24px;
            cursor: pointer;
            color:#ddc6c6
        }
        .close-btn:hover{
            color: #666;
        }

        #formCreate{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;

            input, select{
                height: 30px;
                border-radius: 7px;
                border: 1px #ccc;
            }

            button{
                height: 40px;
                color: #ffffff;
                border-radius: 10px;
                background-color: #1a73e8;
                border: none;
                cursor: pointer;
            }
            button{
                transition: 0.5s;
                background-color: #468ff0;
            }
        }
    }
    .modal-edit{
        color: white;
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 400px;
        height: 400px;
        background-color: rgb(0, 0, 0);
        justify-content: center;
        align-items: center;

        .modal-content{
            display: flex;
            flex-direction: column;
            background-color: #000;
            padding: 20px;
            border-radius: 8px;
            width: 400px;
            height: auto;
            box-shadow: 0 2px 20px rgba(255,255,255, 0.5);
        }
        .close-btn-edit{
            float: right;
            font-size: 24px;
            cursor: pointer;
            color:#ddc6c6;
            font-weight: bold;
        }
        .close-btn-edit:hover{
            color: #666;
        }

        #formEdit{
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            overflow-y: auto;

            input, select{
                height: 30px;
                border-radius: 7px;
                border: 1px #ccc;
            }

            .save-btn{
            background-color: #1a73e8;
            color: #fff;
            }

            .save-btn:Hover{
                background-color: #1863c5;
                color: #fff;
            }

            .cancel-btn{
                background-color: #e81a1a;
                color: #fff;
            }
    
            .cancel-btn:Hover{
                background-color: #c51818;
                color: #fff;
            }

            .save-bt, .cancel-btn{
                padding: 10px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }
        
            .modal-action{
                display: flex;
                justify-content: flex-end;
                gap: 10px;
                margin-top: 20px;
            }
        }
    }
}

.mi-imagen {
    width: 200px; /* Ajusta el ancho */
    height: 75px; /* Mantiene la proporción original */
}

img {
    max-width: 100%;
    max-height: 100%;
}
h2 {
    text-align: center;
    color:#000000;
    font: small-caps 100%/200% serif;
    font-size: 150%;
}

#productos,#productos2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.producto {
    margin: 6px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #000000;
    padding: 10px;
    background-color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.producto:hover,.productos2:hover {
    transform: scale(1.05);
}

.producto img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}

#carrito {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    background-color: rgb(238, 141, 241);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button{
    background-color: rgb(241, 129, 194);
    color: white;
    font-family: 'Roboto Mono', monospace;
    border-radius: 15px;
    width: 70px;
    height: 55px;

    img {
        border-radius: 15px;
        width: 50px;
        height: 50px;
    }
}

button:hover{
    background-color: rgb(228, 107, 178);
    color: white;
    font-family: 'Roboto Mono', monospace;
    border-radius: 15px;
    width: 71px;
    height: 56px;

    img {
        border-radius: 15px;
        width: 50px;
        height: 50px;
    }
}
#carrito {
    
        width: 200px;
        height: 100%;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 200px;
        left: 0;
        height: calc(100% -80px);
        transition: transform 0.5s ease;
        transform: translateX(0);
        z-index: 999;
        border: none;
        box-shadow: none;
}

#lista-carrito {
    list-style: none;
    padding: 0;
}

#lista-carrito li {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

#lista-carrito li button {
    background-color: rgb(238, 141, 241);
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#lista-carrito li button:hover {
    background-color:  rgb(198, 115, 201);
}

#total {
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
}



.category-card {
    display: inline-block;
    background: rgb(0, 0, 0);
    color: #000000;
    border-radius: 10px;
    padding: 1px 2px;
    cursor: pointer;
    width: 150px;
    height: 2px;
    transition: transform 0.3s;
}

.category-card:hover {
    padding: 3px 5px;
    cursor: pointer;
    width: 150px;
    transition: transform 0.3s;
    transform: scale(1.05);
}







